body {
    font-size: 16px;
    box-sizing: content-box;
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: repeat;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}


section {
    height: 100vh;
}

.Uno, .Dos {
    height: 100vh;
}

.Uno {
    background-color: pink;
}

.Dos {
    background-color: salmon;
}

.Square {
    width: 150px;
    height: 150px;
    background-color: fuchsia;
}

.Square2 {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.red {
    background-color: red;
}


.box{
    width: 100px;
    height: 100px;
    background-color: green;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}